{% load wagtailcore_tags wagtailimages_tags %}
{% image self.section.section_background_image width-1920 as section_bg_image %}

<div 
    style="{% spaceless %}
    {% endspaceless %}{% if self.section.section_background_type == "transparent" %}background-color: transparent{% spaceless %}
    {% endspaceless %}{% elif self.section.section_background_type == "solid" %}background-color: {{ self.section.section_background_color }}{% spaceless %}
    {% endspaceless %}{% elif self.section.section_background_type == "gradient" %}background: linear-gradient(90deg, {{ self.section.section_background_color }} 0%, {{ self.section.section_background_color_2 }} 100%){% spaceless %}
    {% endspaceless %}{% elif self.section.section_background_type == "image" %}background-image: url({{ section_bg_image.url }}){% spaceless %}
    {% endspaceless %}{% else %}background-color: #007d7e{% endif %};"
    class="pt-24 bg-no-repeat bg-cover bg-center">

    <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    {% block content %}{% endblock %}
    </div>

</div>
