{% if self.hero_section.background_type == "solid" %}
<div class="pt-24" style="background: {{ self.hero_section.background_color }};">
{% elif  self.hero_section.background_type == "gradient"  %}
<div class="pt-24" style="background: linear-gradient(90deg, {{ self.hero_section.background_color }} 0%, {{ self.hero_section.background_color_2 }} 100%);">
{% elif  self.hero_section.background_type == "transparent"  %}
<div class="pt-24" style="background-color: transparent;">
{% else %}
<div class="pt-24">
{% endif %}

    <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    {% block content %}{% endblock %}
    </div>
    
</div>
