{% load menu_tags%}

<!--Nav-->
{% with theme=settings.theme.Appearance %}
<nav 
    id="header"
    style="{% spaceless %}
        
        {% endspaceless %}{% if theme.navbar_color_scheme == 'light_basic' and not theme.navbar_transparent %}background-color: white{% spaceless %}
        {% endspaceless %}{% elif theme.navbar_color_scheme == 'dark_basic' and not theme.navbar_transparent %}background-color: black{% endif %}{% spaceless %}
        {% endspaceless %}"

    class="{% spaceless %}
    
        {% endspaceless %}{% if theme.navbar_transparent %}absolute {% endif %}{% spaceless %}
        {% endspaceless %}{% if theme.navbar_fixed %}fixed {% endif %}{% spaceless %}
        {% endspaceless %}{{ theme.navbar_top_bottom_padding }} {% spaceless %}
        {% endspaceless %}w-full">

    <div class="{% spaceless %}
    
        {% endspaceless %}{{ theme.navbar_container_width }} {% spaceless %}
        {% endspaceless %}{{ theme.navbar_height }} {% spaceless %} 
        {% endspaceless %}mx-auto flex flex-wrap items-center justify-between mt-0">
        
        {% include "header/logo.html" %}

        <div class="block lg:hidden pr-4">
            <button id="nav-toggle" class="flex items-center p-1 text-orange-800 hover:text-gray-900">
                <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>

        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white lg:bg-transparent p-4 lg:p-0 z-20" id="nav-content">
            {% main_menu template="header/menu.html" %}
            {% include "header/action.html" %}
        </div>
    </div>
</nav>


{% block extra_js %}
<!-- <script>
    (function() {
        var navigation = document.getElementById("header");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
            if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 20) {
                navigation.classList.add('bg-white', 'shadow-md');
            } else {
                navigation.classList.remove('bg-white', 'shadow-md');
            }
        }
    })()
</script> -->
{% endblock %}
{% endwith %}