{% load wagtailcore_tags wagtailimages_tags %}

<section class="mt-12 bg-white border-b py-8">
	<div class="container max-w-5xl mx-auto m-8">
		<h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">{{ self.title }}</h1>
		<div class="w-full mb-4">	
			<div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
		</div>
	
		<div class="flex flex-wrap">
			<div class="text-gray-600 w-5/6 sm:w-1/2 p-6">
				{{ self.text|richtext }}
			</div>
			<div class="w-full sm:w-1/2 p-6">	
                {% image self.image fill-320x240 %}
			</div>
		</div>
	</div>
</section>