{% load static compress wagtailuserbar wagtailmetadata_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        
        {% comment %} Check if Page object {% endcomment %}
        {% if self %}
            {% meta_tags %}
        {% endif %}

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/tailwind.css' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        {% endcompress %}

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        {% compress js  %}
        <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        {% endcompress %}


    </body>
</html>
