{% load static compress wagtailuserbar wagtailmetadata_tags menu_tags %}
{% load wagtailcore_tags wagtailimages_tags %}


<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        
        {% comment %} Check if Page object {% endcomment %}
        {% if self %}
            {% meta_tags %}
        {% endif %}

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'vendors/tailwind.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/sourcs-sans-pro.css' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        {% endcompress %}

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <!--Nav-->
        <nav 
            id="header" 
            class="w-full bg-transparent fixed top-0 left-0 z-50 px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 py-6 xl:py-8" 
            style="background-color:{{ settings.custom.SocialMediaSettings.header_background_color }}"
            >

            <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
                    
                <div class="pl-4 flex items-center">
                    <a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"  href="/"> 
                        {% image settings.theme.Appearance.header_logo fill-320x240 class="h-12 w-auto"%}
                    </a>
                </div>

                <div class="block lg:hidden pr-4">
                    <button id="nav-toggle" class="flex items-center p-1 text-orange-800 hover:text-gray-900">
                        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                    </button>
                </div>

                <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
                    {% main_menu template="menu/custom_menu.html" %} 
                    <button id="navAction" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75">Action</button>
                </div>
            </div>
        </nav>



        {% block content %}{% endblock %}

        {# Global javascript #}
        {% compress js  %}
        <!-- <script type="text/javascript" src="{% static 'js/core.js' %}"></script> -->
        <script>

            (function() {
                var navigation = document.getElementById("header");

                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function() {scrollFunction()};

                function scrollFunction() {
                    if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 20) {
                        navigation.classList.add('bg-white', 'xl:py-4', 'shadow-md');
                        navigation.classList.remove('xl:py-8');
                    } else {
                        navigation.classList.remove('bg-white', 'xl:py-4', 'shadow-md');
                        navigation.classList.add('xl:py-8');
                    }
                }
            })()


        </script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        {% endcompress %}


    </body>
</html>
